body {
    background: #eee;
    font-family: Arial, Helvetica, sans-serif;
}

.frontpage-content {
    width: 680px;
    margin: 0 auto;
}

.frontpage-content .title {
    text-align: center;
    background-color: aliceblue;
    padding: 8px 0px 8px 0px;
    margin: 10px ppx;
}

ul {
    display: flex;
    list-style: none;
    background-color: aliceblue;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 8px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

.usp {
    font-weight: bold;
    background-color: green;
    color: white;
}